/* Contenedor general del Navbar */
.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Estilo del Navbar */
.navbar-content {
    background-color: #f8f9fa; /* Fondo claro, puedes cambiarlo */
    padding: 10px 0;
}

/* Enlaces del Navbar */
.navbar-content .nav-link {
    color: #333; /* Color de texto de los enlaces */
    font-weight: bold;
}

.navbar-content .nav-link:hover {
    color: #87c6dd; /* Color al pasar el mouse */
}

/* Botón de cerrar sesión */
.navbar-content .btn-outline-dark {
    border-color: #333;
    color: #333;
}

.navbar-content .btn-outline-dark:hover {
    background-color: #333;
    color: #fff;
}
